@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animated {
    @apply duration-1000;
    animation-fill-mode: both;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
}

#__next {
  background: red;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
