.cross_bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e5e5f7;
  opacity: 0.2;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #b77200,
    #b77200 1px,
    #e5e5f7 1px,
    #e5e5f7
  );
  z-index: -1;
}
